<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125257549-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125257549-1');
    </script>
    <meta charset="utf-8">
    <title>MORPWARE - Account</title>
    <link rel="stylesheet" href="css/edit.css">
  </head>
  <body>
    <div class="header"><div class="header_inner"><h1 class="logo">MORPWARE</h1></div></div>
    <div class="middle">
      <div class="title">
        <h3>Change E-mail</h3>
        <p class="crt_eml">Current E-mail</p>
        <p id="user_eml">jinlee9304@gmail.com</p>

        <label for="new_eml">New E-mail</label>
        <input type="password" id="new_eml" autofocus>
        <p class="alert"></p>

        <label for="user_pwd">Current password</label>
        <input type="password" id="user_pwd">
        <p class="alert"></p>

        <button id="save_eml">Save</button>
      </div>
    </div>
    <div class="footer">
      <h2>METAMORP</h2>
      <p class="footer">(82)10-9356-6679 | enbywes@gmail.com | memo.osten@gmail.com<br>
      Joongsoguiupyeonsuwon, Danwon-gu, Ansan-si, Gyeonggi-do, Republic of Korea</p>
    </div>
  </body>
</html>
