<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125257549-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125257549-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125332418-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125332418-1');
</script>
    
<meta charset="utf-8" />
<title>MORPWARE LCD-BASED SLA, DLP-BASED SLA 3D PRINTER SOFTWARE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/morpware_signin.css">
<link rel="shortcut icon" href="images/icons/title_icon.ico">
<!-- Include the jQuery library -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="js/user_session.js"></script>
<script src="js/login.js"></script>
<script>
	var alerts = function() {
		alert("아직은 서비스 기간이 아닙니다.");
	}
</script>

</head>
<body>
	<div class="header"><div class="header_inner"><h1 class="logo">MORPWARE</h1></div></div>
    <div class="wrap">
      <div class="box">
        <div class="layout">
          <form id=frm_login>
			<fieldset form="signin" style="display: block">
              <legend>Sign In</legend>
              <div class="full_width">
                <label for="id">E-mail</label>
                <p class="user_id signup_alert">이메일 주소를 입력해주세요.</p>
              </div>
              <input type="email" class="user_id" id="id" title="Enter ID" placeholder="example@email.com" autocomplete="off">

              <div class="full_width">
                <label for="pwd">Password</label>
                <p class="user_pwd signup_alert">비밀번호를 입력해주세요.</p>
              </div>
              <input type="password" class="user_pwd" id="pwd" title="Enter Password" placeholder="Password" autocomplete="off">

              <p class="message" style="color: rgba(255, 0, 0, 0);"></p>

              <a><p class="siginin_msg" id="forgot">Forgot your password?</p></a>
              <input type="button" id="btn_login" value="로그인">
              <input type="checkbox" class="rmb dvlp" value="yesrmb" id="yesrmb" disabled>
              <label for="yesrmb" class="dvlp"><p class="siginin_msg dvlp">Remember me</p></label>

              <div class="bar"></div>

              <p class="new siginin_msg">New to Morpware?</p>
              <a><p id="signup_now" class="siginin_msg">Sign up now!</p></a>
            </fieldset>
        
            <fieldset form="signup" style="display: none">
              <legend>Sign Up</legend>

              <div class="full_width">
                <label for="su_eml">E-mail</label>
                <p id="text_su_eml" class="su_eml signup_alert">이메일 주소를 입력해주세요.</p>
              </div>
              <input type="email" class="su_eml" placeholder="example@email.com" id=su_eml autocomplete="off">

              <div class="full_width">
                <label for="su_pwd">Password</label>
                <p id="text_su_pwd" class="su_pwd signup_alert">비밀번호를 입력해주세요.</p>
              </div>
              <input type="password" class="su_pwd" placeholder="Password" id="su_pwd" autocomplete="off">

              <p class="message" style="color: rgba(255, 0, 0, 0);"></p>

              <button type="button" name="back" id="back">취소</button>
              <button type="button" name="submit" id="submit">가입</button>

              <div class="bar"></div>

              <div class="full_width">
                <h2 class="logo">METAMORP</h2>
                <p class="helper dvlp">약관</p>
                <p class="helper dvlp">개인정보 보호</p>
                <p class="helper dvlp">도움말</p>
              </div>
            </fieldset>
            
            <!--비밀번호 찾기 페이지-->
            <fieldset form="forgot" style="display: none">
              <legend>Forgot Password</legend>

              <div class="forgot_main" style="display: none">
                <div class="full_width">
                  <label for="fg_eml">E-mail</label>
                  <p class="fg_eml">이메일 주소를 입력해주세요.</p>
                </div>
                <input type="email" class="fg_eml" placeholder="example@email.com" id="fg_eml" autocomplete="off">

                <p class="forgot_fail" style="visibility: hidden;">계정이 등록되지 않은 이메일 주소입니다.</p>
                <p class="forgot_message" style="color: rgba(0, 0, 0, 0.5);">이메일 주소로 임시 비밀번호를 보내드립니다.</p>

                <button type="button" name="back" id="fg_back">취소</button>
                <button type="button" name="submit" id="send">전송</button>
              </div>

              <div class="forgot_sucs" style="display: none">
                <h3>이메일 전송 완료</h3>
                <p><span></span>으로 임시 비밀번호를 전송했습니다. 메일을 받지 못하셨다면, 스팸 메일함을 확인해주세요.</p>
                <button type="button" id="fg_ok">확인</button>
              </div>
            </fieldset>
            
        	</form>
          </div>
        </div>
      </div>
  </body>
</html>
