#support_add_box{
    display: none;
    position: absolute;
    top: 10px;
    left: 310px;
    width: 175px;
    height: 600px;
    opacity: 0.9;
    background-color: #282828;
    border: 1px solid #0080ff;
    padding: 10px;
}
#support_close{
    position: absolute;
    top: 5px;
    right: 10px;
    color: red;
}

#support_add_box .form-group{
	width:100%;
    padding-bottom: 2%;
}

#support_add_box .toggle_master{
    width: 170px;
}

.clear{
	clear: both;
}

/* .btn_save{
    display: none;
}

.btn_add{
    display: block;
}

.btn_remove{
    display: none;
} */

.div_id{
    margin: 20px;
}
.div_pw{   
    margin: 20px;
}

.div_btn{
    margin: 10px 20px  0 20px;
}

#items {
	right:20px;
	top:0;
	height:90%;
	overflow: auto;
	position: absolute;
	width: 180px;
	color:white;
	font-size: x-small;
}
.support{
	background-color: rgba(10, 10, 100, 0.3);
	color: #000;
}

.item{
    color:black;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
}

.item:hover{
    background-color: white;
}

.toggle{
    color: black;
    text-decoration: none;
}

.remove{
    font-weight: 500;
    color: red;
    text-decoration: none;
}

.div_loginOk{
    margin-top: 20px;
    text-align: center;
    color:blue;
}

.div_login{
	margin: 0, auto;
}

.li_support_block .support_name{
	margin-left: 20px;
}
.li_support_block .support_edit{
	margin-left: 100px;
}

.div1 {
	width:70%;
	float:left;
}
.div1 {
	width:30%;
}

#radio0 {
	margin-left: 60px;
	margin-top: 0px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.body_view_3d{background-color: #eeeeee; width:100%; height:100%}
.body_view_2d{background-color: #000000; width:100%; height:100%}
.div_view{position:absolute; width:100%; height:100%;}
#img_view{position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;}
.item{padding_left:20px}
#div_support_del{position: absolute; top: 90%; right: 20px; z-index: 3;}
#pageone{width: 300px; height: 100%; opacity: 0.9; overflow:auto;}
#wirefrm{margin-left: 80px; margin-top: -27px;}
#all_slice{margin-left: 60px; margin-top: -27px;}
#support{margin-left: 170px; margin-top: -27px;}